<div class="item">
  <div class="item-info row">
    <div class="col-md-8">
      <h2 class="page-header"><%= @item.title %></h2>
      <h3><div class='fa fa-map-marker space'></div><%= @item.address %></h3>
      <div class="img-rounded"><%= image_tag(item_photo(@item), class: 'img-thumbnail') %>
      </div>
      <div class="item-photos">
        <%# Выводим все фотографии товара %>
        <div class="item-photos-gallery">
          <%= render partial: 'photos/photo', collection: @item.photos.except(@new_photo) %>
        </div>
        <%# Кнопка вывода формы добавления фотографии %>
        <%# Рисуем форму для добавления новой фотографии (которая будет скрыта) %>
      </div>

      <div class="buffer-top">
        <% if current_user_can_edit?(@item) %>
            <div class="item-photo-form">
              <%= render partial: 'photos/form', locals: {photo: @new_photo || @item.photos.build} %>
            </div>
            <p class="text-center">
              <%= link_to 'Удалить товар', item_path(@item), method: :delete, class: 'btn btn-sm btn-danger',
                          data: {confirm: "Вы уверены?"} %>
              <%= link_to 'Изменить описание', edit_item_path(@item), class: 'btn btn-sm btn-warning' %>
            </p>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">Описание</div>
            <div class="panel-body">
              <p><%= @item.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Предлагает обмен:</h4>
      <h3><%= render partial: 'users/user', object: @item.user %></h3>
      <table class="table table-striped">
        <tr>
          <th>
            <div class="fa fa-home space"></div>
            Адрес</th>
          <td><%= @item.user.address %></td>
        </tr>
        <tr>
          <th>
            <div class="fa fa-phone space"></div>
            Телефон</th>
          <td><%= @item.user.phone %></td>
        </tr>
        <tr>
          <th>
            <div class="fa fa-envelope space"></div>
            Email</th>
          <td><%= @item.user.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
